{% extends 'shop_main.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-6">
        <div class="buy-box-element" id="form-wrapper">
            <form action="" id="form">
                {% csrf_token%}
                <div id="shipping-info">
                    <hr>
                    <p id="shipping__title">Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" name="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" name="country" placeholder="Country..">
                    </div>
                </div>
                <hr>
            </form>
        </div>
        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
            <div id="paypal-button-container"></div>
        </div>
    </div>
    <div class="col-lg-6">
        <div class="buy-box-element">
            <a class="btn btn-outline-dark" href="{% url 'cart'%}">&#x2190;Back to Cart</a>
            <hr>
            <h3>Order Summary</h3>
            <hr>
            {% for item in items %}
            <div class="cart-row">
                <div><img class="row-image" src="{{item.product.imageURL}}"></div>
                <div>
                    <p>{{item.product.name}}</p>
                </div>
                <div>
                    <p>${{item.product.price|floatformat:2}}</p>
                </div>
                <div>
                    <p>x{{item.quantity}}</p>
                </div>
            </div>
            {% endfor %}
            <h5>Items: {{order.get_cart_items}}</h5>
            <h5>Total: ${{order.get_cart_total|floatformat:2}}</h5>
        </div>
    </div>
</div>
{% endblock content %}