{% extends 'shop_main.html' %}
{% load static %}
{% block content %}
<section>
    <div class="title">
        <h2><span>Cart</span></h2>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-30">
            <div class="box-element">
                <a class="btn btn-outline-dark " href="{% url 'store' %}">&#x2190; Go to Main Page</a>
                <br>
                <br>
                <table class="table">
                    <tr>
                        <th>
                            <h5>Item: <strong></strong></h5>
                        </th>
                        <th>
                            <h5>Price: <strong></strong></h5>
                        </th>
                        <th>
                            <h5>QTY: <strong></strong></h5>
                        </th>
                        <th>
                            <h5>Total: <strong></strong></h5>
                        </th>
                        <th>
                            <h5>Order: </h5>
                        </th>
                    </tr>
                </table>
                <hr>
                <div class="total__order">
                    <h5 id="total__order__price">Total Price:</h5>
                    <h5 id="total__order__qty">Total QTY:</h5>
                </div>
            </div>
        </div>
    </div>

</section>
{% endblock content %}